@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 68.5%;
}
body{
    width: 88vw;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    -webkit-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.56); 
    box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.56);
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.main_container{
    width: 100%;

}
/* socialmedia */
.social_media{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.8rem 2rem 0.8rem 0;
    background: rgb(243, 204, 189);

}
.social_media i{
    margin: 0 0.5rem;
    font-size: 1.8rem;
    color: rgb(95, 84, 84);
    transition: all 0.3s ease;
}
.social_media i:hover{
    transform: scale(1.1);

}

/* nav */
.nav{
    width: 100%;
    width: 88vw;
    padding: 1rem 0;
    background: rgb(122, 120, 120);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    transition: all 0.5s ease;
}
.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav ul li{
    padding-left: 2rem;
    font-size: 1.8rem;
    color: white
}


.sub_container{
    min-Height: 86vh;
    background: rgb(243, 204, 189);
    padding: 5rem 10rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.photo_section{
    width: 230px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.photo_section .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    border: 3px solid white;
    z-index: 2;
}
.photo_section .empty{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(125, 205, 211);
    top: 46%;
    left: 12%;
    box-shadow: -5px 10px 17px -3px rgba(136, 135, 135, 0.64);

}
.photo_section .photo img{
    width: 100%;
    height: 100%;
   
}

.side_section{
    background: rgb(201, 184, 184);
    box-shadow: -5px 10px 17px -3px rgba(99, 98, 98, 0.64);
    padding: 2rem;

 
 
}
@media screen and (max-width: 700px) {
    .side_section {
      width: 100%;
      height: auto;
      position: relative;
    }
    .side_section a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .side_section a {
      text-align: center;
      float: none;
    }
  }
  
.side_section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(243, 243, 220); */
}
.side_section .content .title{
    font-size: 5rem;
}
.side_section .content .detail{
    text-align: center;
    font-size: 1.8rem;
}
.side_section .content .skills{
    padding: 1rem 0;
}
.side_section .content i{
    font-size: 3rem;
    margin: 0 2rem;
    transition: all 0.3s ease;
}
.side_section .content i:hover{
    transform: scale(1.3);
}



/* sticky */

.sticky{
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.58); 
    box-shadow: 0px 4px 10px 1px rgba(77, 67, 67, 0.58);
    transition: all 0.3s ease;
}
